* {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

p {
	padding: 20px;
	vertical-align: middle;
}

#header {
	height: 200px;
	width: 100%;
	background-color: #000;
}

h1 {
	color: #999;
	font-size: 50px;
	text-align: left;
	padding: 50px;
}	

body {
	
}

.container {
	width: 100%;
	height: 200px;
}


.exercise {
	float: left;
	width: 47%;
	height: 200px;
	background-color: #777;
	margin: 0.5%;
	padding: 1%;

}

h4 {
	text-align: center;
	font-size: 25px;
	padding-bottom: 5px;
}

.exercise:hover {
	background-color: #888;
}


.strawberry {
	display: flex;
	width: 100%;
	height: 100%;
}

.banana {
	border: 1px solid black;
	background-color: white;
	width: 10%;
	height: 100%;

}

.banana:hover {
	background-color: blue;
}


#randomiser {
	font-size: 20px;
	font-weight: bold;
	height: 100px;
	width: 150px;
	border-radius: 28px;
	display: block;
	margin: 50px auto;
	vertical-align: middle;
}

#number {
	text-align: center;
	font-size: 70px;
	font-weight: bold;
}
#calculate {
	display: flex;
}
#answer {
	
	
}